---
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: /blog/{{ year }}/
layout: layouts/page.webc
eleventyComputed:
  title: "Posts from the Year {{ year }}"
eleventyExcludeFromCollections: true,
---
{% set postList = collections.postsByYear[ year ] %}
{% include "partials/post-list.njk" %}
