/**
 * Figures
 */

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;

  img {
    display: block;
    margin-inline: auto;
  }
}

figcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  text-wrap: balance;
}
