// stylelint-disable selector-no-qualifying-type
@use 'mixins';

img {
  height: auto;
  max-width: 100%;
}

// Wide layout for figures, images, and youtube embeds in blog posts
article {
  lite-youtube,
  figure,
  img {
    display: block;
    margin-block: 1.5em;
  }

  lite-youtube {
    max-width: none;

    &:not(.is-standard-width) {
      @include mixins.layout-wide;
      @include mixins.width-wide-important; // needed to override embed styles
    }
  }

  img {
    @include mixins.layout-wide;
    @include mixins.max-width-wide;

    &[src$='.svg'] {
      width: 100%;
    }

    &.float-right {
      float: right;
      margin: 0 0 0.5em 1em;
      max-width: 100%;
      width: 50%;
    }
  }

  figure {
    @include mixins.layout-wide;

    pre[class*='language-'] {
      margin: 0;
    }

    img {
      margin-block: 0;
      margin-inline: auto;
      max-width: 100%;
    }
  }
}

figcaption {
  @include mixins.remove-contained-margins;
  color: var(--color-subtle);
  font-size: smaller;
  font-style: italic;
  margin-block-start: 0.5em;
  text-align: center;
  text-wrap: balance;

  a {
    color: var(--color-subtle);

    &:hover,
    &:focus {
      color: var(--color-fg);
    }
  }
}
