@use 'mixins';

.app-footer {
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-size: clamp(0.75em, 5vw, 1.25em);
  font-stretch: 75%;
  padding: 1em;
  text-align: center;
}

.app-footer__copyright {
  @include mixins.gradient-text;
  margin: 0;
}

.app-footer__social {
  @include mixins.list-reset;
}

.app-footer__social-item {
  display: inline;

  & + & {
    margin-inline-start: 0.5em;
  }
}

.app-footer__social-link {
  @include mixins.gradient-text;
  background-attachment: fixed;
  background-image: var(--rainbow-gradient-alt);
  text-decoration: none;

  &:hover,
  &:focus {
    background-image: var(--rainbow-gradient);
    text-decoration: underline;
    text-decoration-color: var(--color-link-underline, CanvasText);
  }
}
