@use 'mixins';

.app-header {
  border-bottom: 1px solid var(--color-border, buttonborder);
  margin-block-end: 1em;
  padding: 1em;
  text-align: center;

  a {
    color: currentcolor;
    text-decoration: none;

    &:visited,
    &:hover,
    &:focus {
      color: currentcolor;
    }

    &[aria-current='page'] {
      font-weight: bold;
    }
  }

  @media screen and (width >= 48em) {
    margin-block-end: 3em;
  }
}

.app-header__content {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin: auto;
  max-width: 42em;
}

.app-header__branding {
  flex: none;
}

.app-header__logo {
  align-items: center;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.app-header__logo-img {
  display: block;
}

.app-header__logo-type {
  @media screen and (width < 48em) {
    @include mixins.visually-hidden;
  }
}

.app-header__nav-list {
  @include mixins.list-reset;
  display: grid;
  gap: 0.25em 1em;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (width >= 22em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width >= 34em) {
    display: flex;
  }
}
