@use 'mixins';

.app-header {
  background-image: url('/images/scott-2016-profile-header.webp');
  background-position: center;
  background-size: cover;
  margin-block-end: 1em;
  position: relative;
  text-align: center;

  @media screen and (width >= 48em) {
    margin-block-end: 3em;
  }
}

.app-header__branding {
  position: relative;
  z-index: 1;
}

.app-header__logo {
  color: white;
  filter: drop-shadow(0 0 5px black);
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-size: clamp(3em, 20vw, 14em);
  font-stretch: 75%;
  font-variation-settings: 'opsz' 96;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-inline-end: -0.1em; // counteract letter-spacing on final letter
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:visited,
  &:hover,
  &:focus {
    color: white;
  }
}

.app-header__nav {
  background: var(--color-overlay, rgba(255 255 255 / 75%));
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-size: clamp(0.75em, 4.5vw, 3.25em);
  font-stretch: 75%;
  line-height: 1;
  padding-block: 0.25em;
  position: relative;
  z-index: 2;
}

.app-header__nav-list {
  @include mixins.list-reset;
}

.app-header__nav-item {
  display: inline;
}

.app-header__nav-link {
  @include mixins.gradient-text;
  background-attachment: fixed;
  background-color: var(--color-bg, black);
  background-image: var(--rainbow-gradient-alt);
  padding-inline: 0.25em;
  text-decoration: none;

  &[aria-current='page'],
  &:hover,
  &:focus {
    background-color: var(--color-bg, linktext);
    background-image: var(--rainbow-gradient);
  }
}
