.app-header {
  background-image: url('/images/scott-2016-profile-header.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
  text-align: center;

  @media screen and (width >= 48em) {
    margin-bottom: 3em;
  }
}

.app-header__logo {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-background-clip: text;
  background-clip: text;
  background-color: var(--color-fg);
  background-image: var(--rainbow-gradient);
  background-repeat: repeat;
  background-size: 100%;
  color: transparent;
  filter: drop-shadow(0 0 5px black);
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-size: clamp(3em, 20vw, 14em);
  font-stretch: 75%;
  font-variation-settings: 'opsz' 96;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0.9;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.app-header__nav {
  background: var(--color-overlay);
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-size: clamp(0.75em, 5vw, 4em);
  font-stretch: 75%;
  line-height: 1;
  padding: 0.25em 0;
}

.app-header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-header__nav-item {
  display: inline;

  & + & {
    margin-left: 0.5em;
  }
}

.app-header__nav-link {
  background-attachment: fixed;
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-background-clip: text;
  background-clip: text;
  background-color: var(--color-fg);
  background-image: var(--rainbow-gradient-alt);
  background-repeat: repeat;
  background-size: 100%;
  color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    background-image: var(--rainbow-gradient);
    text-decoration: underline;
  }
}
