.media-list {
  gap: 1em;
  list-style: none;
  margin: 0;
  margin-left: 50%;
  max-width: calc(60ch + 250px + 2em);
  padding: 0;
  transform: translateX(-50%);
  width: calc(100vw - 2em);
}

.media-list__item {
  margin-top: 3em;

  @media screen and (width >= 30em) {
    display: flex;
  }
}

.media-list__media {
  float: left;
  margin: 0 1em 1em 0;
  width: 100px;

  @media screen and (width >= 30em) {
    float: none;
    margin: 0;
  }

  @media screen and (width >= 32em) {
    width: 150px;
  }

  @media screen and (width >= 40em) {
    width: 200px;
  }

  @media screen and (width >= 48em) {
    width: 250px;
  }

  img {
    box-shadow: 2px 2px 1px var(--color-border);
    margin: 0;
    max-width: 100%;
  }
}

.media-list__content {
  flex: 1;
  margin-left: 1em;

  @media screen and (width >= 40em) {
    margin-left: 2em;
  }

  .heading {
    h2,
    h3 {
      margin-top: 0;
    }
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
