@mixin layout-wide() {
  margin-inline: -1em;

  @media screen and (width >= 42em) {
    margin-inline: -2em;
  }
}

@mixin padding-wide() {
  padding-inline: 1em;

  @media screen and (width >= 42em) {
    padding-inline: 2em;
  }
}

@mixin max-width-wide() {
  max-width: calc(100% + 2em);

  @media screen and (width >= 42em) {
    max-width: calc(100% + 4em);
  }
}

@mixin width-wide() {
  width: calc(100% + 2em);

  @media screen and (width >= 42em) {
    width: calc(100% + 4em);
  }
}

@mixin width-wide-important() {
  width: calc(100% + 2em) !important;

  @media screen and (width >= 42em) {
    width: calc(100% + 4em) !important;
  }
}

@mixin image-reset() {
  margin: 0;
  max-width: 100%;
}

@mixin gradient-text() {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-background-clip: text;
  background-clip: text;
  background-color: var(--color-fg, CanvasText);
  background-image: var(--rainbow-gradient);
  background-repeat: repeat;
  background-size: 100%;
  color: transparent;
}

@mixin remove-contained-margins() {
  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}
