.post-list {
  display: grid;
  gap: 2em;
  list-style: none;
  margin: 0;
  margin-left: 50%;
  max-width: calc(81em);
  padding: 0;
  transform: translateX(-50%);
  width: calc(100vw - 4em);

  @media screen and (width >= 37.5em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 64em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width >= 90em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.post-list__media-link {
  display: block;
  margin-bottom: 0.5em;
}

.post-list__media {
  margin-block: 0;
  margin-inline: auto;
  max-width: 100%;
}

.post-list__date {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-bottom: 0.5em;

  @media screen and (width >= 48em) {
    font-size: 0.7em;
  }
}

.post-list__title {
  font-stretch: 75%;
  font-weight: normal;
  margin-bottom: 0.33em;
  margin-top: 0;
}

.post-list__title-link {
  text-decoration-color: transparent;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-link-underline);
  }
}

.post-list__excerpt {
  display: block;
  margin: 0;

  @media screen and (width >= 48em) {
    font-size: smaller;
  }
}
