@use 'mixins';

.post__title {
  margin-block-end: 0;
}

.post__meta {
  @include mixins.list-reset;
  color: var(--color-subtle);
  font-size: smaller;
  text-align: center;
}

.post__meta-item {
  display: inline;

  + .post__meta-item::before {
    content: '• ';
  }
}

.post__excerpt {
  font-size: larger;
  font-style: italic;
  text-align: center;
  text-wrap: balance;

  abbr {
    color: var(--color-subtle);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
  }
}

.post__tags {
  color: var(--color-subtle);
  font-size: smaller;
  margin-block: 3em;
  text-align: center;
  text-wrap: balance;
}

.post__tags-intro {
  display: inline;
}

.post__tags-list {
  display: inline;
  margin-inline-start: 0;
  padding-inline-start: 0;

  li {
    display: inline;

    &::after {
      content: ', ';
    }

    &:last-child::before {
      content: 'and ';
    }

    &:last-child::after {
      content: '.';
    }
  }
}

.post__nav {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post__nav-item {
  flex: 1;
}

.post__nav-next {
  text-align: right;
}

.post__nav-label {
  color: var(--color-subtle);
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;

  @media screen and (width >= 48em) {
    font-size: 0.7em;
  }
}

.post__nav-link {
  display: block;
  text-wrap: balance;
}
