@mixin theme-light() {
  --color-bg: #fff;
  --color-bg-alt: rgba(0 0 0 / 5%);
  --color-fg: #333;
  --color-overlay: rgba(255 255 255 / 90%);
  --color-subtle: rgba(0 0 0 / 50%);
  --color-border: rgba(0 0 0 / 20%);
  --color-link: #34d;
  --color-link-underline: #{rgba(#34d, 0.25)};
  --color-link-visited: #692dd1;
  --color-link-visited-underline: rgba(#692dd1, 0.25);
  --color-code: rgba(202 2 129 / 94%);
  --color-bg-kbd: rgba(0 0 0 / 5%);
  --color-border-kbd: rgba(0 0 0 / 20%);
  --color-handwriting: lch(30% 65 270deg); // basically dodgerblue but darker
}

@mixin theme-dark() {
  --color-bg: #121212;
  --color-bg-alt: rgba(255 255 255 / 5%);
  --color-fg: #ccc;
  --color-overlay: rgba(0 0 0 / 75%);
  --color-subtle: rgba(255 255 255 / 37.5%);
  --color-border: rgba(255 255 255 / 15%);
  --color-link: #bb86fc;
  --color-link-underline: #{rgba(#bb86fc, 0.5)};
  --color-link-visited: #8f95ff;
  --color-link-visited-underline: rgba(#8f95ff, 0.5);
  --color-code: rgba(202 2 129 / 94%);
  --color-bg-kbd: rgba(255 255 255 / 5%);
  --color-border-kbd: rgba(255 255 255 / 20%);
  --color-handwriting: lch(60% 65 270deg); // basically dodgerblue
}

:root {
  @include theme-light;

  // https://www.freecodecamp.org/news/grainy-css-backgrounds-using-svg-filters/
  --texture: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='.2'/%3E%3C/svg%3E");
  --rainbow-gradient: linear-gradient(67deg, #758cf0, #d3208b, #cc8100);
  --rainbow-gradient-alt: linear-gradient(67deg, #6094ea, #f02fc2);

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}

.t-light {
  @include theme-light;
  background: var(--color-bg) var(--texture);
  color: var(--color-fg);
}

.t-dark {
  @include theme-dark;
  background: var(--color-bg) var(--texture);
  color: var(--color-fg);
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg) var(--texture);
  color: var(--color-fg);
}

a {
  color: var(--color-link, linktext);
  text-decoration-color: var(--color-link-underline, linktext);
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.0938em;

  &:visited {
    color: var(--color-link-visited, visitedtext);
    text-decoration-color: var(--color-link-visited-underline, visitedtext);
  }

  &:hover,
  &:focus {
    text-decoration-color: currentcolor;
    text-decoration-thickness: 0.0938em;
    text-underline-offset: auto;
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border, buttonborder);
  margin-block: 4em;
  width: 66%;
}
