@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url('/fonts/BricolageGrotesque[opsz,wdth,wght].woff2')
    format('woff2-variations');
}

:root {
  --system-fonts: ui-sans-serif, system-ui, sans-serif;
  --mono-fonts: ui-monospace, consolas, monospace;
  --body-weight: 400;
  --heading-weight: 800;

  @media (prefers-color-scheme: dark) {
    --body-weight: 300;
    --heading-weight: 800;
  }
}

html {
  font-size: 16px;
  font-weight: var(--body-weight);

  @media screen and (width >= 48em) {
    font-size: 18px;
  }

  @media screen and (width >= 64em) {
    font-size: 20px;
  }
}

body {
  font-family: var(--system-fonts);
  line-height: 1.75;
}

pre,
code {
  font-family: var(--mono-fonts);
}

kbd {
  font-family: var(--system-fonts);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bricolage Grotesque', var(--system-fonts);
  font-weight: var(--heading-weight);
  margin: 1em 0 1rem;

  code {
    font-size: 0.9em;
    font-variation-settings: normal;
    font-weight: bold;
  }
}

h1,
h2,
h3 {
  line-height: 1;
  text-wrap: balance;
}

h1 {
  font-size: 3em;
  font-stretch: 75%;
  font-variation-settings: 'opsz' 48;
  line-height: 0.85;
  margin-block-start: 0;
  padding-bottom: 0.1em; // prevent clipping from reduced line-height
  text-align: center;

  @media screen and (width >= 32em) {
    font-size: 4em;
    font-variation-settings: 'opsz' 64;
  }

  @media screen and (width >= 40em) {
    font-size: 5em;
    font-variation-settings: 'opsz' 80;
  }

  @media screen and (width >= 48em) {
    font-size: 6em;
    font-variation-settings: 'opsz' 96;
  }
}

h2 {
  font-size: 2em;
  font-stretch: 80%;
  font-variation-settings: 'opsz' 32;
  line-height: 1.1;

  @media screen and (width >= 48em) {
    font-size: 3em;
    font-variation-settings: 'opsz' 48;
  }
}

h3 {
  font-size: 1.5em;
  font-stretch: 85%;
  font-variation-settings: 'opsz' 24;
  line-height: 1.1;

  @media screen and (width >= 48em) {
    font-size: 2em;
    font-variation-settings: 'opsz' 32;
  }
}

h4,
h5,
h6 {
  font-size: 1.25em;
  font-stretch: 90%;
  font-variation-settings: 'opsz' 20;
  line-height: 1.2;
}

em,
i {
  em,
  i {
    font-style: normal;
  }
}

sup {
  bottom: 0.33em;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.33em;
  position: relative;
  vertical-align: baseline;
}

blockquote {
  footer {
    color: var(--color-subtle);
    font-size: smaller;
    margin-top: -0.5em;

    &::before {
      content: '—';
    }

    a {
      color: var(--color-subtle);

      &:hover,
      &:focus {
        color: var(--color-fg);
      }
    }
  }
}

.intro {
  font-size: 1.1em;
}

.list--inline {
  display: block;
  margin-inline-start: 0;
  padding-inline-start: 0;

  li {
    display: inline;

    &::after {
      content: ', ';
    }

    &:last-child::before {
      content: 'and ';
    }

    &:last-child::after {
      content: '.';
    }
  }
}
