@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 200 800;
  src: url('/fonts/BricolageGrotesque[opsz,wdth,wght].woff2')
    format('woff2-variations');
}

:root {
  --system-fonts: ui-sans-serif, system-ui, sans-serif;
  --mono-fonts: ui-monospace, consolas, monospace;
  --body-weight: 400;
  --heading-weight: 800;

  @media (prefers-color-scheme: dark) {
    --body-weight: 300;
    --heading-weight: 800;
  }
}

html {
  font-size: 16px;
  font-weight: var(--body-weight);

  @media screen and (width >= 48em) {
    font-size: 18px;
  }

  @media screen and (width >= 64em) {
    font-size: 20px;
  }
}

body {
  font-family: var(--system-fonts);
  line-height: 1.75;
}

em,
i {
  em,
  i {
    font-style: normal;
  }
}

sup {
  bottom: 0.33em;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.33em;
  position: relative;
  vertical-align: baseline;
}

.intro {
  font-size: 1.1em;
}
