---
layout: layouts/page.webc
eleventyExcludeFromCollections: true
pagination:
  data: collections.postsByRecent
  size: 10
  alias: postList
permalink: "{% if pagination.pageNumber > 0 %}blog/{{ pagination.pageNumber + 1 }}{% endif %}/"
---
<p>{{ metadata.description }}</p>

{% include "partials/post-list.njk" %}

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}
{% include "partials/pagination.njk" %}
