<ol class="post-list">
{% for post in postList %}
	<li class="post-list__item{% if post.url == url %} is-active{% endif %}">
    {% if post.data.postNumber %}
      <span class="post-list__number">Ep {{ post.data.postNumber }}:</span>
    {% endif %}
		<a href="{{ post.url }}" class="post-list__link">
      {%- if post.data.title -%}
        {{ post.data.title }}
      {%- else -%}
        <code>{{ post.url }}</code>
      {%- endif -%}
    </a>
    <small>
		<time class="post-list__date" datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate("DD") }}
    </time>
    {% if not hideAuthor %}
    <span class="post-list__author">
      by
      {% for authorKey in post.data.authors %}
        {% set author = authorMeta | getAuthor(authorKey) %}
        <a href="/authors/{{ authorKey }}/">
          <img
          class="author-photo"
          src="{{ author.photo }}" width="16" height="16" alt="">
          <span class="name">{{ author.name }}</span>
        </a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </span>
    {% endif %}
    </small>
	</li>
{% endfor %}
</ol>
